html, body, #root, .App {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dash-nav{
  position: fixed; 
  display: flex;
  left: 10%;
  flex-wrap: wrap;
}

@media (max-width:500px){
  .dash-nav{
    padding: 0;
    margin: 0;
    left: auto;
  }
 }